/* Global styles
------------------------------------------------------- */

/* Prevents animation on initial page load. */
body:not(.animate) .animate {
  -webkit-transition:none;
     -moz-transition:none;
      -ms-transition:none;
          transition:none;
}

.fill-teal {
  background-color: #41afa5;
}

h4.fancy {
  font-family: 'Bitter Bold', 'Georgia', serif;
  font-size: 15px;
  letter-spacing: 1px;
}

.swatches input { display: none; }
.swatches label { cursor: pointer; }

.swatches .icon {
  visibility: hidden;
  background-color: rgba(0,0,0,.2);
  border-radius: 50%;  
}

.swatches input:checked + label .icon {
  visibility: visible;
  opacity: 1;
}
